Binaries
Build
DerivedDataCache
Intermediate
Saved
Assets
Animations
Audio
Material
Mannequins
ThirdPerson
LevelPrototyping


.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace